/* Features Section */
.feature-desktop{
    display: block;
}
.feature-mobile{
    display: none;
}
.features {
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    /* border: 3px solid red; */
}

.feature-block {
    max-width: 50%;
}

.feature-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.feature-container2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.features h2 {
    color: 2d2d2d;
    Font:Tomato Grotesk;
    font-weight: 600px;
    font-size: 32px;
    line-height: 28.8px;
}

.features p {
    color: #333;
    Font:DM Sans;
    font-weight: 500px;
    font-size: 16px;
    line-height: 24px;
}

.features .cta-btn {
    color: #07969E;
    text-decoration: none;
    font-weight: bold;
}


@media (max-width: 768px) {  
    /* Features Section */
    .feature-mobile{
        display: none;
    }

    .feature-block {
        /* margin-bottom: 30px; */
        max-width: 100%;
    }

    .feature-container1 {
        display: flex;
        flex-direction: column;
        /* border: 3px solid red; */
    }
    .feature-container2 {
        display: flex;
        flex-direction: column;
        /* border: 3px solid red; */
    }

    .feature-container1 img{
        margin: 15% 15%;
        width: 70%;
        height: 70%;
        margin: auto;
        /* border: 3px solid red; */
    }
    .feature-container2 img{
        margin: 15% 15%;
        width: 70%;
        height: 70%;
        margin: auto;
        /* border: 3px solid red; */
    }
     
    .features {
      padding: 20px;
    }
  
    .features h2 {
      font-size: 28px;
      color: #2d2d2d;
        Font:Tomato Grotesk;
        font-weight: 600px;
        font-size: 20px;
        line-height: 18px;
        text-align: center;
    }
  
    .features p {
      font-size: 16px;
      color: #333;
        Font:DM Sans;
        font-weight: 400px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    .features .cta-btn {
        display: none;
        color: #07969E;
        text-decoration: none;
        font-weight: bold;
    }
  }
  
  /* Responsive Styling for other Screens
  @media (min-width: 1200px) {
    .features {
      padding: 100px;
      
    }

  } */
  