/* InfoSection.css */
.info-section {
    text-align: center;
    padding: 94px 0px;
    background-color: #f5f5f5;
    /* color: #333; */
    margin-bottom: 80px;
    background: rgb(188,97,250);
background: linear-gradient(90deg, rgba(188,97,250,0.8100490196078431) 0%, rgba(250,4,153,0.44030112044817926) 50%, rgba(255,255,255,1) 100%);
  }
  
  .info-section h2 {
    font-size: 40px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 20px;
    color: #2D2D2D;
  }
  
  .info-section p {
    max-width: 504px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #4A5050;

  }
  
  @media (max-width: 768px) {
    .info-section {
        display: none;
      padding: 20px;
    }
  
    .info-section h2 {
      font-size: 24px;
    }
  
    .info-section p {
      font-size: 14px;
    }
  }
  